<section class="py-28">
  <h2 class="mt-10 mb-20 text-center text-[#535353] font-medium text-4xl">
    Preguntas Comunes
  </h2>
  <div class="flex">
    <button
      class="bg-red-600 p-2 rounded-sm m-6 text-gray-100 font-medium ml-auto"
      (click)="viewAllAnswers()"
    >
      Desplegar todas
    </button>
  </div>
  <ul class="flex flex-col gap-5 m-5">
    <li
      *ngFor="let item of questionsArray"
      class="bg-[#F2F2F2] rounded shadow-md"
      id="{{ item.id }}"
    >
      <app-question [item]="item"></app-question>
    </li>
  </ul>
</section>
