<div>
    <div>
        <h1 class="font-medium text-4xl pt-4 pb-4">Listado de personas</h1>
        <button 
            [disabled]="disabled" 
            class="bg-blue-600 text-white p-3 rounded"
            (click)="disabledBtn()"
            >New Person</button>
            <p>{{ getMessage() }}</p>
    </div>
    <app-person></app-person>

    <section class=" flex flex-col w-1/4">
        <label>Person Title:</label>
        <input 
            type="text" 
            class=" border-[2px] border-stone-500 outline-none"
            [(ngModel)]="title"
        />
        <p>{{ title }}</p>
    </section>
</div>