<div>
  <div>
    <h1 class="font-medium text-4xl pt-4 pb-4">Listado de personas</h1>
    <button
      [disabled]="disabled"
      class="bg-blue-600 text-white p-3 rounded"
      (click)="disabledBtn()"
    >
      New Person
    </button>
    <p *ngIf="disabled; else sinPerson">
      {{ getMessage() }} con el título {{ title }}
    </p>
    <ng-template #sinPerson>
      <p>No se ha agregado ninguna persona</p>
    </ng-template>
  </div>
  <!-- <app-person></app-person> -->

  <!-- <section class="flex flex-col w-1/4">
    <label>Person Title:</label>
    <input
      type="text"
      class="border-[2px] border-stone-500 outline-none"
      [(ngModel)]="title"
    />
    <p>{{ title }}</p>
  </section> -->

  <!-- <app-calculator></app-calculator>
  <app-input-component></app-input-component> -->

  <!-- <button
    (click)="getCharacters()"
    class="bg-blue-600 p-5 rounded-md text-white"
  >
    GET
  </button> -->

  <ul class="flex flex-col">
    <app-person
      *ngFor="let item of characters.results"
      [item]="item"
      class="flex items-center gap-2 p-2 cursor-pointer hover:bg-gray-100"
    ></app-person>
  </ul>
</div>
